<html>
	<body>
		<h3>Нова нотификация! Дата: ${currentDate}</h3>
		<p>
			From - ${name} / ${email}
		</p>
<h3>Вид на проверката: ${checkType}</h3>
		<h3>
			Средно натоварване: ${avgUsage}
		</h3>
                <p>Предупредително натоварване: ${warnUsage}</p>
		<p>
			Максимално допустимо натоварване: ${maxLoad}
		</p>
	</body>

</html>
